body.main {
	width:100%;
	padding-top: 1em;
	margin:auto;
}
footer.footer {
	position: absolute;
	bottom:0px;
	height:1em;
}
.notebook-container {
	margin-top:1.5em;
}
.notebook-container ul {
	padding-left: 0em;
}
.notebook-container ul li {
	list-style-type: none;
}
.notebook-btn-container {
	margin : 1em 0em;
}
/*
The main note div
*/
.notes-container  .note {
	border : 1px solid #d9d9d9;
	padding: 2px 4px;
}

.notes-container .note :last-child {
	margin-bottom:0px;
}
.notes-container .note :first-child {
	margin-top:0px;
}

.notes-container .complete {
	text-decoration: line-through;
}

/*
Div that contains each notes.
*/
.note-container{
	clear : both;
	margin-bottom:1.3em;
}
.note-container kbd {
	color:#333;
	background-color:#d5d5d5;
}
/**
 * Help icon
 */
.help-shortcut {
	position : fixed;
	top:10px;
	right:30px;
	font-size:2em;
	color:#009933;
	cursor:pointer;
}

/**
 * Shortcut
 * @type {[type]}
 */
.help-shortcut:hover {
	color:#47D147;
}
.modal kbd {
	padding: 4px 6px;
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
	font-weight: bold;
}
#dlgShortcutHelp.modal .modal-dialog{
	width:65%;
}
/**
 * End of shortcut
 */
