body.main {
	width:100%;
	padding-top: 1em;
	margin:auto;
}
footer.footer {
	position: absolute;
	bottom:0px;
	height:1em;
}
.notebook-container {
	margin-top:1.5em;
}
.notebook-container ul {
	padding-left: 0em;
}
.notebook-container ul li {
	list-style-type: none;
}
.notebook-btn-container {
	margin : 1em 0em;
}
/*
The main note div
*/
.notes-container  .note {
	border : 1px solid #d9d9d9;
	padding: 2px 4px;
}

.notes-container .note :last-child {
	margin-bottom:0px;
}
.notes-container .note :first-child {
	margin-top:0px;
}
/*
Div that contains each notes.
*/
.note-container{
	clear : both;
	margin-bottom:1.3em;
}
.note-container kbd {
	color:#333;
	background-color:#d5d5d5;
}
