body {
  width: 100%;
  height: 100%; }

.app-body {
  display: flex;
  flex: 1 0 auto; }

.app-body main {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden; }

.app-body aside {
  order: -1; }

#mainContainer {
  padding: 15px; }
