<section class="container-fluid notebook-btn-container">
	<div class="pull-left">
		<div class="input-group notebook-date date">
  		<input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-default add-note" title="<%= i18n.__('notebook.add_note');%>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		<button class="btn btn-default" title="<%= i18n.__('notebook.settings');%>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
		<button id="btnDeleteNotebook_16" class="btn btn-default" title="<%= i18n.__('notebook.delete_notebook');%>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</div>
</section>
<section class="container-fluid notes-container">

</section>
